<%- include('../partials/head') %>
<%- include('../partials/header') %>

<div class="container">
    <h1>About Me</h1>
    <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Architecto, vero saepe, dolorum sint quasi dolores corporis assumenda fugiat autem ea sunt? Ab qui quisquam quam itaque fugiat, ipsum vero nesciunt.
    </p>
</div>


<%- include('../partials/footer') %>